<head>
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  </head>
  <body>
    <div class="container">
              <div class="circles"></div>
              <div class="details-container">
                  <div class="avatar">
                      <img src="assets/bfsedit.png" class="img-fluid" alt="">
                  </div>
                  <div class="about">
                      <div class="name">
                          <h1>
                            About Us
                          </h1>
                      </div>
                      <div class="about-content">
                          <p>
                            Before First Solutions LLP is a partnership firm providing business support and backend processing services for their overseas clients in the US. With over 10 years of experience in US Mortgage and Sub-Prime markets the firm is committed in providing seamless support to help its customers process their work orders and generate quality bids. Provide prompt, qualitative and efficient processing services to the vendor network which allows them and their client/s move property’s life-cycle smoothly, both during Pre-Sale (PFC) and Post-sale (REO) thereby ensuring the property is in a ready to sale condition with higher returns. 
                          </p>
                          <p>We are team with extensive knowledge in the field of property preservation (FHLMC, FNMA, FHA, VA, etc.) and we currently operate from two of the most prominent cities in India.</p>
                          <p class="location">Mumbai – The financial capital of India</p>
                          <p class="location">Bangalore – The IT capital of India</p>
                          <!-- <button>Download Resume</button> -->
                      </div>
                  </div>
                  <div class="clear"></div>
              </div>
              <!-- <div class="skills-container">
                  <button>
                      Reader
                  </button>
                  <button>
                      Coder
                  </button>
                  <button>
                      Designer
                  </button>
              </div> -->
          </div> 
          <div class="footer">
            Copyright © 2022 Before First Solutions LLP.
          </div>
  </body>
  <!-- <app-contact-us></app-contact-us> -->