<div class="total">

    <div>
        <div class="container">
            <div class="d-md-flex justify-content-between align-items-center">
            </div>
        </div>
    </div>
    <div class="bg-primary text-light p-5">
        <div class="container">
            <div class="d-md-flex justify-content-between align-items-center">
                <h3 class="mb-3 mb-md-0">Contact Us</h3>
            </div>
        </div>
    </div>
    <section class="p-5" id="about">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d248890.41352433088!2d77.49677144571822!3d12.913331549677444!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3dd722ea457d%3A0xd69628727bd5a177!2sBefore%20First%20Solutions%20LLP!5e0!3m2!1sen!2sin!4v1652438923385!5m2!1sen!2sin" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <!-- <a href='https://svgshare.com/s/gH1' ><img  class="img-fluid " src='https://svgshare.com/i/gH1.svg' title='' /></a> -->

                </div>
                <div class="col-md p-5"  id="corpmove">
                    <h2 class="hstyle">Head Office</h2>
                    <p>
						Before First Solutions LLP
                    </p>
                    <p>
                        4th floor, Tejas Arcade, 1st Main Road
                    </p>
					<p>
                       9, Dr Rajkumar Rd, Rajajinagar
                    </p>
					<p>
						Bengalore
					 </p>
					 <p>
						Karnataka - 560010
					 </p>
                     <p>Phone: +1 337 243 6364 extn : 4003</p>
                </div>
            </div>
        </div>
    </section>



    <section class="p-5 bg-dark text-light" id="learn ">
        <div class="container">
            <div class="row align-items-center justify-content-between">

                <div class="col-md p-5">
                    <h2 class="hstyle">Corporate Office</h2>
                    <p>
						Before First Solutions LLP
                    </p>
                    <p>
                        403,Techno It Park
                    </p>
					<p>
						Eksar Village
                    </p>
					<p>
						Borivali West
					 </p>
					<p>
						Mumbai
					 </p>
					 <p>
						Maharashtra - 400091
					 </p>
                    <p>Phone: +1 337 243 6364 extn : 4003</p>
                </div>

                <div class="col-md">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d455028.7249055355!2d72.68272797253294!3d19.269402765283576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b11700000001%3A0xc277ec855a484002!2sBefore%20First%20Solutions%20LLP!5e0!3m2!1sen!2sin!4v1652678314211!5m2!1sen!2sin" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
            </div>
        </div>
    </section>
  <div class="getin">
  <div class="container">
    <h2>Get In Touch With Us</h2>
    <div class="row100">
      <div class="col">
        <div class="inputBox">
          <input type="text" name="" required="required">
          <span class="text">First Name</span>
          <span class="line"></span>
        </div>
      </div>
      <div class="col">
        <div class="inputBox">
          <input type="text" name="" required="required">
          <span class="text">Last Name</span>
          <span class="line"></span>
        </div>
      </div>
    </div>
    <div class="row100">
      <div class="col">
        <div class="inputBox">
          <input type="text" name="" required="required">
          <span class="text">Email</span>
          <span class="line"></span>
        </div>
      </div>
      <div class="col">
        <div class="inputBox">
          <input type="text" name="" required="required">
          <span class="text">Mobile</span>
          <span class="line"></span>
        </div>
      </div>
    </div>
    <div class="row100">
      <div class="col">
        <div class="inputBox textarea">
          <textarea required="required"></textarea>
          <span class="text">Type your message Here...</span>
          <span class="line"></span>
        </div>
      </div>
    </div>

    <div class="row100">
      <div class="col">
        <input type="submit" value="Send">
      </div>
    </div>
  </div>
</div>
</div>
<div class="footer">
    Copyright © 2022 Before First Solutions LLP.
  </div>