
 <!--<div>
  <app-slider></app-slider>
</div>
<div>
  <app-contents></app-contents>
</div> -->
<!-- <app-about></app-about> -->
<!-- <app-contact></app-contact> -->
<!-- <app-inspection></app-inspection> -->
<!-- <app-preservation></app-preservation> -->
<!-- <app-bid></app-bid> -->
<!-- <app-review></app-review> -->
<!-- <app-landscaping></app-landscaping> -->
<!-- <app-communication></app-communication> -->
<!-- <app-valueadded></app-valueadded> -->
<!-- <footer>
  Copyright © 2022 Before First Solutions LLP.
</footer> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>