<body class="background" style="background-image: url('https://blog.vantagecircle.com/content/images/2019/04/7-Reasons-Why-Internal-Communication-is-Important-in-the-Workplace.png');">
  <section class="container-fluid" id="front">
      <div class="row">
      <div class="col-md-6">
          <div class="container" id="pict">
              <img src="https://selzimg.s3.amazonaws.com/items/165430/gpodpiqz5wd/original.jpg" alt="Yo wassup" loading="lazy">
          </div>
      </div>
      <div class="col-md-6">
          <div class="head">
              <h1>Verbal and Written communication</h1>
          </div>
          <div class="card" id="detail">
              <div class="card-body">
                  <h4>
                    Follow-up with field crew for updates and drive field completion. Document exceptional scenarios and every detail that pertains to update from field onto the system for track record and better understanding of the property condition. More importantly achieve client SLA as timeline is a key factor to ensure property moves through the mortgage life-cycle seamlessly. Drive field crew performance through a performance report to achieve win-win situation for all.
                  </h4>
              </div>
            
          </div>
      </div>
      
      </div>
  </section>
  </body>
  <app-contact-us></app-contact-us>