.about {
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: yellowgreen;
}

.Service {
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: yellowgreen;
}

p {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 0;
    overflow-wrap: anywhere;
}

.more {
    color: black;
    text-align: center;
    display: inline-block;
    padding: 15px 10px;
    cursor: pointer;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    margin: 0 20px;
    border-bottom: 2px solid #212529;
    font-weight: bold;
}

.more:before {
    content: "";
    position: absolute;
    width: 0;
    background: yellowgreen;
    left: 45%;
    height: 2px;
    top: 0;
    transition: all .3s;
    opacity: 0.7;
}

.more:hover:before {
    width: 100%;
    left: 0;
}

.more:hover {
    transition: transform .2s;
    transform: scale(1);
    /* Animation */
    margin: 0 auto;
    border-bottom: 2px solid yellowgreen;
    color: yellowgreen;
}

.butt {
    text-align: center;
}

.fa-angle-double-right {
    display: none;
}

.more:hover .fa-angle-double-right {
    display: inline-block;
}

.con {
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 12px;
    margin-bottom: 20px;
}

h5 {
    background: none;
    position: none;
    text-shadow: none;
    font-size: 25px;
    font-weight: bold;
}

#contacts {
    color: white;
    background-color: #000002;
    opacity: 0.5;
    padding: 30px;
    padding-top: 25px;
}

#ctext {
    text-align: center;
}

.fa-map-marked-alt:before {
    font-size: 30px;
}

.fa-business-time:before {
    font-size: 30px;
}

.fa-address-card:before {
    font-size: 30px;
}

.row {
    --bs-gutter-x: 1.5rem;
    width: 100%;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

iframe {
    border: 0;
    width: 440px;
    height: 350px;
}

footer {
    text-align: center;
    background-color: #3a3a3a;
    color: white;
    padding-top: 2em;
    padding-bottom: 2em;
}

body {
    background: #ebebeb;
    font-family: "Open Sans", sans-serif;
}

.carousel {
    margin: 30px auto 60px;
    padding: 0 80px;
}

.carousel .carousel-item {
    text-align: center;
    overflow: hidden;
}

.carousel .carousel-item h4 {
    font-family: 'Varela Round', sans-serif;
}

.carousel .carousel-item img {
    max-width: 100%;
    display: inline-block;
}

.carousel .carousel-item .btn {
    border-radius: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background: #3e7fd9;
    padding: 6px 15px;
    margin-top: 5px;
}

.carousel .carousel-item .btn:hover {
    background: #9acd32;
}

.carousel .carousel-item .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.carousel .thumb-wrapper {
    margin: 5px;
    text-align: left;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.carousel .thumb-content {
    padding: 15px;
    font-size: 13px;
}

.carousel-control-prev,
.carousel-control-next {
    height: 44px;
    width: 44px;
    background: none;
    margin: auto 0;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.8);
}

.carousel-control-prev i,
.carousel-control-next i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}

.carousel-control-prev i {
    margin-left: -3px;
}

.carousel-control-next i {
    margin-right: -3px;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 4px;
    border: none;
}

.carousel-indicators li {
    background: #ababab;
}

.carousel-indicators li.active {
    background: #555;
}

img {
    height: 250px;
}

.carousel .thumb-content {
    padding: 15px;
    font-size: 13px;
    text-align: center;
}

.thumb-wrapper {
    height: 370px;
}

h4 {
    font-weight: 600;
}